body{
    background: url(https://media.istockphoto.com/vectors/modern-rainbow-glow-backlight-frame-vector-id1337668467?k=20&m=1337668467&s=612x612&w=0&h=3upfrFsBaAarzI2muUMzBVPFxgNBgV-tShJKj22D17g=) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#name{
    text-align: center;
    color: white;
    margin-top: 60px;
}

#skills{
    /* text-align: center; */
    color: white;
    margin-left: 25%;
}

#skillList{
    color: white;
    margin-left: 20%;
}